# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python data folder\dogs_breed_repo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
